<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Airflow - Vols</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <header>
        <div class="header-content">
            <div class="header-text">
                <h1>Liste des vols</h1>
                <h2>Airflow, le choix des voyageurs exigeants.</h2>
            </div>
            <div class="header-button">
                {% if session.get('token') %}
                <a href="{{ url_for('logout') }}" class="button">Déconnexion</a>
                <a href="{{ url_for('get_reservations') }}" class="button">Vos réservations</a>
                <a href="{{ url_for('get_achats') }}" class="button">Vos achats</a>
                {% else %}
                <a href="{{ url_for('login_register') }}" class="button">Connexion / Inscription</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date de Départ</th>
                    <th>Date d'Arrivée</th>
                    <th>Lieu de Départ</th>
                    <th>Lieu d'Arrivée</th>
                    <th>Places Totales</th>
                    <th>Places Restantes</th>
                    <th>Avion</th>
                    <th>Prix (€)</th>
                    {% if session.get('token') %}
                    <th>Réserver</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for vol in vols %}
                <tr>
                    <td>{{ vol.vol_id }}</td>
                    <td>{{ vol.vol_date_depart }}</td>
                    <td>{{ vol.vol_date_arrive }}</td>
                    <td>{{ vol.vol_lieu_depart }}</td>
                    <td>{{ vol.vol_lieu_arrive }}</td>
                    <td>{{ vol.vol_place_totale }}</td>
                    {% if vol.vol_place_restante == 0 %}
                    <td>Complet</td>
                    {% else %}
                    <td>{{ vol.vol_place_restante }}</td>
                    {% endif %}

                    <td>{{ vol.vol_avion }}</td>

                    <td>Prix : {{ vol.vol_prix }} €</td>

                    {% if vol.vol_place_restante != 0 %}
                        {% if session.get('token') %}
                        <td><a href="{{ url_for('make_reservation', vol_id=vol.vol_id) }}" class="button">Je réserve</a>
                        </td>
                        {% endif %}
                    {% else %}
                    <td>Complet</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>

</html>
