<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Réservations - FlaskApp</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <h1>Liste des Réservations</h1>
        </header>
        <main>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom de l'utilisateur</th>
                            <th>ID du vol</th>
                            <th>Date de réservation</th>
                            <th>Nombre de places réservées</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.reservation_id }}</td>
                            <td>{{ reservation.user.username }}</td>
                            <td>{{ reservation.vol_id }}</td>
                            <td>{{ reservation.date_reservation }}</td>
                            <td>{{ reservation.nombre_places }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>

</html>